[RFD] Authentication

# Authentication
Authentication is used to verify the identity of a user or process. Authentication controls are essential to the prevention of confidential files, data, or web pages from being accessed by hackers or users who do not have the necessary access control level. Broken authentication can occur when identity and access controls are not robust, are not implemented correctly, and/or can be bypassed.

## Requirements
- Support strong authentication mechanisms and password policies. A secure authentication process should consider the following best practices (see Considerations below).

## Considerations
### Strong Authentication 

- Always use standardized frameworks for authentication, with multifactor, such as IAM.
- Do not write/use a custom authentication mechanism.
- Use multi-factor – Implementing Multi-Factor Authentication (MFA) is the best defense against password related attacks.
- Use strong token based authentication over weaker methods like basic authentication - Basic authentication is not a secure or recommended method of authentication, when sent over an unencrypted connection, the credentials are left open to credential disclosure, and theft.
  - JSON Web Tokens (JWT) is a stateless token that is signed and encrypted. There is no need to store the password in the token. When using JWT’s, choose a strong algorithm with an appropriate key size and utilize the expiration time.
  - If using basic authentication, at minimum implement an encrypted connection.

### Username/Password Security

- Enforce password complexity policies to prevent, or at least slow, the possibility of brute force attacks.
- Passwords should be a passphrase of at least 14 characters. A passphrase is a type of password that strings together words which may form a full or partial sentence, or may be randomly selected.
- Make sure passwords are never logged.
- Ensure failure messages are generic in nature, do not state whether the username or password failed, only that the login failed.
- Do not use shared credentials, this is most impactful to accountability
- Default or well-known passwords MUST NOT be used.
  - Software products cannot be shipped with unique passwords. The recommended solution is to require the user to set a unique password that meets defined complexity requirements as part of the installation process. This should be as early in the installation process as possible.
- Change all default passwords and user id’s such as vendor supplied accounts.
- Make sure that every character the user types in is actually included in the password.
- Make sure usernames/user-ids are case insensitive. Many sites use email addresses for usernames and email addresses are already case insensitive.
- Review and update password standards periodically as thresholds may change over time.

### Other Authentication Protections 

- Use TLS throughout to prevent man-in-the-middle (MiTM) attacks.
- Log all failed login attempts and actively monitor for brute force and other attacks.
- Ensure that Session IDs are invalidated (time-out after inactivity).
- Do not expose Session IDs in URLs. 
- Re-authenticate prior to performing those operations deemed “critical”.
- Ensure the login page is only available over TLS.

## Related Open Standards
- JSON Web Tokens (JWT)s are described in [IETF RFC 7519 JSON Web Token (JWT)](https://datatracker.ietf.org/doc/html/rfc7519) and extended for OIDC in [IETF RFC 7523 JSON Web Token (JWT) Profile for OAuth 2.0 Client Authentication and Authorization Grants](https://datatracker.ietf.org/doc/html/rfc7523)
- Best practices are described in [IETF RFC 8725 JSON Web Token Best Current Practices](https://datatracker.ietf.org/doc/html/rfc8725) and [NIST SP 800-63B Digital Identity Guidelines: Authentication and Lifecycle Management](https://pages.nist.gov/800-63-3/sp800-63b.html). While NIST SP 800-36B is broadly applicable, section [7 Session Management](https://pages.nist.gov/800-63-3/sp800-63b.html#sec7) may be of most interest to a discussion involving microservices.
- They provide a standardized way of securely transmitting information about the entity making a request and are widely used in modern web applications.

## Related RFDs
- [Establishment of an API contract specification for OpenCHAMI](https://github.com/OpenCHAMI/roadmap/issues/39)
  - This RFD should be part of the API contract specification.


I propose that this is a duplicate of #11 and should be closed accordingly.

In #11, we establish that user-facing authentication is out of scope for OpenCHAMI as it will be done differently from site to site.  Instead, OpenCHAMI focuses on how identity is transferred into the system via OIDC and identity tokens exchanged for short-lived, limited scope access tokens.  #11 is proposing a standard for the structure and meaning of the access tokens.


There is duplication between this and the JWTs in #11 .  This is more generic.

From the 2025 Summit: agreed this is mostly a duplicate and can be closed.